<div class="content__inner">
    <header class="content__title">
        <h1>Radios <small>Sección de inventario de radios</small></h1>
    </header>

    <div class="toolbar">
        <nav class="toolbar__nav">
            <a class="active">Contrato</a>
            <a>Adicionales</a>
        </nav>

        <div class="actions">
            <i class="actions__item zwicon-search" data-sa-action="toolbar-search-open"></i>
        </div>

        <div class="toolbar__search">
            <input type="text" placeholder="Buscar...">

            <i class="toolbar__search__close zwicon-arrow-left" data-sa-action="toolbar-search-close"></i>
        </div>
    </div>

    <div class="contacts row">
        <div class="col-xl-2 col-lg-3 col-sm-4 col-6">
            <div class="contacts__item">
                <a class="contacts__img">
                    <img src="assets/img/mouse.jpeg" alt="">
                </a>

                <div class="contacts__info">
                    <strong>ID: 6021</strong>
                    <strong>Serie: 16523146</strong>
                    <small>Zibar 1509309</small>
                </div>
                <button class="contacts__btn">Historial</button>
                <button class="contacts__btn">Editar</button>
            </div>
        </div>
    </div>

    <a class="btn btn-primary btn--action btn--fixed"><i class="zwicon-plus"></i></a>
</div>