<aside class="sidebar sidebar--hidden">
  <div class="scrollable">
    <div class="user">
      <div class="user__info" data-toggle="dropdown">
        <img class="user__img" src="assets/img/avatar.png">
        <div>
          <div class="user__name">{{ nombre }}</div>
          <div class="user__email">{{ this.usuario.email }}</div>
        </div>

        <div class="dropdown-menu">
          <a class="dropdown-item" (click)="verPerfil()">Ver Perfil</a>
          <a class="dropdown-item" (click)="verConfiguraciones()">Configuraciones</a>
          <a class="dropdown-item" (click)="cerrarSesion()">Cerrar Sesión</a>
        </div>
      </div>
    </div>
    <ul class="navigation">
      
      <li *ngFor="let menu of this.menu" class="navigation__sub">
        <a><i [class]="menu.icono"></i>{{menu.titulo}}</a>
        <ul>
          <li *ngFor="let submenu of menu.submenu">
            <a [routerLink]="[submenu.url]">{{ submenu.titulo }}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</aside>