.login {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.2rem;
}

.login__block {
    max-width: 430px;
    width: 100%;
    display: none;
    text-align: center;
    @include animate(fadeInUp, 300ms);
    @include card();
    @include media-breakpoint-up(sm) {
        &:hover {
            .login__block__actions .dropdown {
                display: block;
            }
        }
    }
}

.login__block.active {
    z-index: 10;
    display: inline-block;
}

.login__block__header {
    padding: 1.25rem;
    position: relative;
    border-radius: $border-radius $border-radius 0 0;
    background-color: $bg-highlighted-dark;
    &>i,
    &>img {
        display: block;
        margin-bottom: 0.6rem;
        width: 200px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    &>i {
        font-size: 3rem;
    }
}

.login__block__actions {
    position: absolute;
    bottom: 0.8rem;
    right: 0.8rem;
    .dropdown:not(.show) {
        display: none;
    }
}

.login__block__body {
    padding: 2rem;
    background-color: $bg-highlighted-dark;
}