<div class="row quick-stats">
    <div class="col-sm-6 col-md-3">
        <div class="quick-stats__item">
            <div class="quick-stats__info">
                <h2>0</h2>
                <small>Equipos GPS</small>
            </div>
            <i class="zwicon-earth"></i>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="quick-stats__item">
            <div class="quick-stats__info">
                <h2>0</h2>
                <small>Equipos Radio</small>
            </div>
            <i class="zwicon-broadcast"></i>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="quick-stats__item">
            <div class="quick-stats__info">
                <h2>0</h2>
                <small>Equipos Reportando</small>
            </div>
            <i class="zwicon-checkmark-circle"></i>
        </div>
    </div>

    <div class="col-sm-6 col-md-3">
        <div class="quick-stats__item">
            <div class="quick-stats__info">
                <h2>0</h2>
                <small>Ordenes de Revision</small>
            </div>
            <i class="zwicon-attach-document"></i>
        </div>
    </div>
</div>